
body{
    font-family: Futura, Century Gothic, AppleGothic, sans-serif;
    background-color: #2a3059;
    color: #ffffff;
}


#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;


}

#container h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

#map {
    padding: 10px;
    width: 100%;
    height: 547px;

}
.background {
    fill: none;
    pointer-events: all;
}

#countries, #states, .plain {
    fill: #5f5ea5;
    stroke: #2a3059;
    stroke-linejoin: round;
    stroke-linecap: round;

}
#countries .active, #states .active {
    fill: #89a;
}

#cities {
    stroke-width: 0;
}
.city {
    fill: #345;
    stroke: #fff;
}
pre.prettyprint {
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding: 9.5px;
}

.presence {
     fill: #02c6ff;

}


.highlight{
    fill: #72af51;
    cursor: pointer;

}

#info {
    width: 600px;
    height: 350px;
    color: #000;
    border-radius: 20px;
    border: 1px #cccccc solid;
    background: #02c6ff;
    position: fixed;
    top: 30%;
    left: 41%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0.4;
    z-index: 5;
    padding: 20px;
}

#info #info_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

#country-img {
    width: 150px;
    margin: 0 15px;
    float: left;

}

#country-desc {
    padding-left:20px;

}