<div id="container">
    <h2 id="country">&nbsp;</h2>

        <div id="map"></div>

    <img id="country-img">


        <div id="country-desc"></div>
        <div id="info"></div>
        <div id="overlay"></div>

</div>